body {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
}

img {
  width: 125px;
  height: 125px;
}

.board {
  display: grid;
  grid-template-columns: repeat(5, auto);
}

.card {
  border: solid 1px white;
  cursor: pointer;
  background-color: #070668;
}

.scores {
  display: flex;
  justify-content: center;
}

h4 {
  margin-left: 50px;
  margin-right: 50px;
}
